:root {
  --main-blue-color: #4faed2;
  --main-backgroundColor: #fbfbfb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-backgroundColor);
}

*:focus {
  outline: none;
}

input, label {
  display: block
}

label {
  padding-bottom: 20px;
}

input {
  -webkit-box-shadow: -2px 7px 11px -8px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 7px 11px -8px rgba(0,0,0,0.25);
  box-shadow: -2px 7px 11px -8px rgba(0,0,0,0.25);
  border: none;
  width: 20rem;
  height: 3rem;
  border-radius: 5rem;
  padding-left: 1rem;
}

.inputInvalidValue {
  border-style: solid !important;
  border-width: thin !important;
  border-color: red !important;
}

label > p {
  margin: 0;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  color: var(--main-blue-color);
  font-weight: bold;
}

div > p {
  color: var(--main-blue-color);
  font-weight: bold;
  justify-self: center;
}

button {
  background-color: var(--main-blue-color);
  border: none;
  border-radius: 5rem;
  width: 10rem;
  height: 3rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  align-self: flex-end;
}

button:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}

button:active {
  -webkit-transform:scale(.95);
  -moz-transform:scale(.95);
  -ms-transform:scale(.95);
  -o-transform:scale(.95);
   transform:scale(.95);
   opacity: 0.9;
}

form:first-child {
  margin-top: 1rem;
}

.imageDiv {
  border-color: var(--main-blue-color);
  border-style: solid;
  border-radius: 1rem;
  border-width: thin;
  -webkit-box-shadow: -2px 7px 11px -8px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 7px 11px -8px rgba(0,0,0,0.25);
  box-shadow: -2px 7px 11px -8px rgba(0,0,0,0.25);
  background-color: white;
  padding: 2rem;
}

.flex {
  display: flex
}

.flexJustifyCenter {
  justify-content: center;
}

.flexAlignItemsCenter {
  align-items: center;
}

.flexDirectionColumn {
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.fullHeight {
  height: 100vh;
}